<section class="mainbar expense">
    <section class="matter">
        <div class="container">
            <div class="row">

              <div class="expense-title">
                <h4>
                  Créez une nouvelle dépense
                </h4>
              </div>

              <h5 class="expense-step">
                {{vm.steps[vm.step].label}}
              </h5>

              <div class="row" ng-if="vm.step === 2">
                <div class="col-xs-2">
                  <form>
                    <input  placeholder="tag..." type="text" ng-model="vm.tag" ng-model-instant />
                    <button class="btn btn-default btn-add" ng-click="vm.addTag()">+</button>
                  </form>
                </div>
                <div class="col-xs-10">
                    <div ng-repeat="tag in vm.tags track by $index" class="expense-tag">
                      <span>{{::tag}}</span><button class="btn btn-default" ng-click="vm.deleteTag(tag)">-</button>
                    </div>
                </div>


                  <!-- <div class="input-group col-xs-2">
                    <input type="text" class="" ng-model="vm.newTag">
                    <button class="input-group-addon" ng-click="vm.addTag();">+</button>
                  </div>
                  <div class="col-xs-10">
                    <div ng-repeat="tag in vm.tags track by $index">
                      <div class="">
                        {{tag}}<button class="btn"  ng-click="vm.deleteTag(tag);">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div> -->
              </div>

              <div class="expense-content row">
                <div class="expense-take-picture col-xs-offset-3 col-xs-6" ng-if="!vm.isPhotoTaken">
                  <button class="btn expense-btn"  ng-click="vm.takePicture();">
                    <i class="fa fa-camera expense-icon"></i>
                  </button>
                </div>
                <div class="expense-picture-1" ng-if="vm.isPhotoTaken">
                  <img style="" src="images/facture1.jpg">
                  </img>
                </div>
              </div>

              <div class="pull-right" ng-if="vm.step === 1">
                <button class="btn btn-danger btn-new-expense" type="button" ng-click="vm.validPicture();">Valider</button>
              </div>

              <div class="pull-right" ng-if="vm.step === 2">
                <button class="btn btn-danger btn-new-expense" type="button" ng-click="vm.validExpense();">Sauvegarder</button>
              </div>

            </div>


                <!-- <div class="widget wblue">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <h3>TODO: Implement Your Features</h3>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</section>
