<section id="dashboard-view" class="mainbar dashboard">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wblue">
                        <div ht-widget-header title="Notes de frais"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Catégorie</th>
                                        <th>Date</th>
                                        <th>TTC</th>
                                        <th>TVA</th>
                                        <th>HT</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="expense in vm.expenses">
                                      <th>{{expense.libelle}}</th>
                                      <th>{{expense.categorie}}</th>
                                      <th>{{expense.date}}</th>
                                      <th>{{expense.ttc}}</th>
                                      <th>{{expense.tva}}</th>
                                      <th>{{expense.ht}}</th>
                                      <th>{{expense.comment}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                      <div class="widget wviolet">
                        <div ht-widget-header title="Indemnités kilométriques"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Date</th>
                                        <th>Taux</th>
                                        <th>Kilométrage</th>
                                        <th>TTC</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="expense in vm.expenses">
                                      <th>{{expense.libelle}}</th>
                                      <th>{{expense.date}}</th>
                                      <th>{{expense.kilometre}}</th>
                                      <th>{{expense.ttc}}</th>
                                      <th>{{expense.comment}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div >
                  <button class="btn btn-danger btn-new-expense" type="button" ng-click="vm.createExpense();">Créer une note</button>
                </div>
                <div >
                  <button class="btn btn-danger btn-new-expense" type="button" ng-click="vm.createAllowance();">Créer une indémnité kilométrique</button>
                </div>
            </div>
        </div>
    </section>
</section>
